body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-image: linear-gradient(to right, black, rgb(61, 56, 56));
    color:white;
    font-weight: bold;
    text-decoration: none;
    
}


header a{
    color:white;
}